.item-image{
    border: 4px solid rgb(34, 29, 29);
    max-width: 35vw;
}
.item-description{
    font-size: 18px;
    color: grey;
}
.detail-disp{
    transform: scale(.80);
}
.quantity-input{
    min-height: 3rem;
    min-width: 8rem;
}