.inventory-item{
    transform: scale(.90);
}
.inventory-item img{
    max-height: 10rem;
    
}
.left-segment{
    min-height: 30rem;
}

.update-btn{
    border: 1px solid black;
    background-color: rgb(46, 45, 45);
    color: white;

    outline: 0;
    padding: 8px;
    font-weight: 500;
}
.update-btn:hover{
    background-color: white;
    color:black;
}

@media only screen and (max-width: 576px){
.left-segment h5{
    font-size: 13px;
    /* font-weight: lighter; */
}

}